# Ruby Gemfile & Ruby bundle @Evernote
# http://gembundler.com/man/gemfile.5.html

bundle install

#Muse - Gemfile
# Specify your gem's dependencies in muse.gemspec
source 'http://rubygems.org'
gemspec


# geoip_sinatra sample
source 'http://rubygems.org'

gem "thin"
gem "rack"
gem "rack-contrib"
gem "sinatra"
gem "json"
gem "geoip"

group :production do
  gem "newrelic_rpm"
end

group :development do
  gem "sinatra-reloader"
  gem "heroku"
end

group :test do
  gem "rack-test"
  gem "rspec"
end
